@import "tailwindcss";

@font-face {
  font-family: 'note';
  src: url('./assets/PlayfairDisplay-Medium.woff2');
}

@font-face {
  font-family: 'biondi';
  src: url('./assets/Montserrat-Medium.ttf');
}