@import "tailwindcss";

@font-face {
  font-family: 'note';
  src: url('./assets/EditorsNote-Thin-iF664322be7fa2e.otf');
}

@font-face {
  font-family: 'biondi';
  src: url('./assets/biondi-sans.otf');
}